/* Не дуже хороша ідея всім тегам задавати box-sizing
Шрифт і text-shadow краще задавати тегу body, вони наслідуються*/
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 1px #000;
}

body {
    color: rgb(214, 214, 214);
    background-image: url("assets/thumb-1920-108819.jpg");
    -webkit-background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

/* font-weight: normal - це дефолтне значення, дял чого це дублювати */
h1 {
    font-weight: normal;
    text-align: center;
}
/* Подивися як можна оптимізувати значення margin */
p {
    margin: 0 0 1em 0;
}

.main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    height: calc(100vh - 160px);
    min-height: min-content;
}

/*Краще використовувати одні і ті самі одиниці вимірювання px або em */
header, footer, .main > article, .main > nav {
    margin: 4px;
    padding: 1em;
}
 
.main > article {
    flex: 4 1 0;
    order: 2;
}

.main > nav {
    flex: 1 6 0;
}

.main > nav {
    order: 1;
}

/* що це за -webkit-order */
.main > aside {
   -webkit-order: 3;
    order: 3;
}
 /* Хіба header i footer не є блочними елементами? Значення display не потрібно*/
header, footer {
    display: block;
    height: 80px;
}

/*Краще використовувати одні і ті самі одиниці вимірювання*/
header > .image {
    margin: 1rem;
}

.content {
    display: flex;
}
/*   flex-grow: 1 - це дефолтне значення, також можна оптимізувати background-color */
.column {
    flex-grow: 1;
    width: 33%;
    background-color: #ccc;
    background-color:rgba(0, 0, 0, 0.1);  
    padding: 1rem;
    margin: 0.5rem;
}
/* Якщо ти використовуєш флекс бокс, можна обійтися без цього*/
/* Too narrow to support three columns */
  @media all and (max-width: 640px) {
  
.main {
    flex-flow: column;
}

.main > article, .main > nav {
    order: 0;
}
  }
.menu {
    overflow: hidden;
    position: relative;
    width: 200px;
    background-color: #ccc;
    background-color:rgba(0, 0, 0, 0.1); 
}

/* Чому б не задати float: left і font-size: 22px самому класу .menu */
.menu a {
    float: left;
    display: block;
    color: #021f53;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 22px; 
}

.menu a:hover {
    color: rgb(255, 255, 255);
}

.fig {
    text-align: center;
}