*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    color: rgb(214, 214, 214);
    background-image: url("assets/thumb-1920-108819.jpg");
    -webkit-background-size: cover;
    background-attachment: fixed;
    margin: 20px;
    text-shadow: 1px 1px 1px #000;
}

h1, h2 {
    text-align: center;
}

p {
    margin: 0 0 1em 0;
}

.main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 160px);
    min-height: min-content;
}

header, footer, .main > article, .main > nav {
    margin: 4px;
    padding: 1em;
}
 
header, footer {
    height: 80px;
}

header > .image {
    margin: 10px;
}

.content {
    display: flex;
}

.column {
    width: auto;
    background-color: #ccc;
    background-color:rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
}
  
.menu {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #ccc;
    background-color:rgba(0, 0, 0, 0.1); 
}

.menu a {
    color: #021f53;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 20px;
}

.menu a:hover {
    color: rgb(255, 255, 255);
}

.fig {
    text-align: center;
}

@media all and (max-width: 1200px) {
    .main, .content {
        flex-direction: column;
    }

    .menu {
        flex-direction: row;
        width: auto;
    }
}

@media all and (max-width: 1000px) {
    .menu {
        flex-direction: column;
    }

    .menu a {
        padding: 5px;
    }
}